MONGODB_URI=mongodb+srv://teoindomito_db_user:admin123@clusterhibridas.yaebfqc.mongodb.net/movies_api?retryWrites=true&w=majority&appName=ClusterHibridas
JWT_SECRET=tu_clave_secreta_muy_segura_aqui
JWT_EXPIRES_IN=7d
PORT=3000
